
#tractDiv{
    width:90% ;
    height: 32vw;
    overflow: hidden;
    margin: auto;
    border: 1px solid black;
    
}
 #canvas{
    width: 95%;
    
    
    
    
}


/* .............................player buttons css....................... */
#playerButtons{
    display: inline-flex;
    
    margin-top: 3%;
    margin-left: 40vw;
    
    
}
#playerButtons button{
    margin-left: 5px;
}
.play{
    background-color: white;
    border: 1px solid #4bb4ca;
    border-radius: 10px;
    width: 80px;
    height: 50px;

}
.play i{
    color: #4bb4ca;
    font-size: 30px;
}
.pause{
    background-color: white;
    border: 1px solid #4bb4ca;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    display: none;

}
.pause i{
    color: #4bb4ca;
    font-size: 30px;
}
.unMute{
    background-color: white;
    border: 1px solid #4bb4ca;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    

}
.unMute i{
    color: #4bb4ca;
    font-size: 20px;
}
.mute{
    background-color: white;
    border: 1px solid #4bb4ca;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    display: none;
    

}
.mute i{
    color: #4bb4ca;
    font-size: 20px;
}
.next{
    background-color: white;
    border: 1px solid #4bb4ca;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    
    

}
.next i{
    color: #4bb4ca;
    font-size: 20px;
}
